.smallProductContainers {
  display: flex;
  gap: 1rem;
  padding-left: 2.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.smallProductContainers div {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}
.smallProductContainers div:last-child {
  color: black;
}
